html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    --main-font:"Montserrat", sans-serif;
}

.wrapper {
    width: 100%;
    min-width: 800px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding-bottom: 100px;
    background-color: rgb(230, 230, 230);
}

a {
    text-decoration: none;
    color: white;   
}

.body .menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: #d6dadc;
}

.body .menu a {
    position: relative;
    padding: 5px;
    text-align: center;
    color: rgb(24, 24, 24);
    font-family: var(--main-font);
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;  
    text-decoration: none;

    transition: transform 0.3s ease, background-color 0.1s ease;
}

.body .menu a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    bottom: 2px;
    height: 2px;
    background-color: rgb(24, 24, 24);
    
    transition: width 0.3s ease;
}
.body .menu a:hover {
    transform: translateY(-5px);
}
.body .menu a:hover::after{
    width: 100%;
}
.body .menu a:active {
    transform: scale(99.5%);
    background-color: rgb(201, 201, 201);
}

.cart-title {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 32px;

    color: rgb(60, 60, 60);
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 550;

    transform: scaleX(1.1);
    transform-origin: center;
}

.cart-empty {
    display: flex;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    color: rgb(60, 60, 60);
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 300;
}

.cart-list {
    font-family: var(--main-font);
    background-color: white;
    width: 85%;
    min-width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid #ccc;
    flex-direction: column;
    display: flex;
}

.cart-list table {
    width: 100%;
    border-collapse: collapse;
}

.cart-list th, .cart-list td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.cart-list th {
     background-color: #f5f5f5;
}

.cart-list img {
    width: 50px;
    height: 50px;
}

.quantity {
    width: 40px;
    text-align: center;
}

.decrease,
.increase {
    width: 20px;
    height: 20px;
}

.remove {
    border: none;
    background-color: white;
    width: auto;
    height: 40px;
    font-size: 16px;

    transition: color 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
}

.remove:hover{
    cursor: pointer;
    color: red;
    opacity: 0.8;
    transform: scale(110%);
}
.remove:active{
    color: rgb(183, 12, 12);
    transform: scale(99%);
}
.cart-footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: flex-end;
}

.total-price {
    margin-bottom: -50px;
    font-size: 18px;
    font-weight: 500;
}

.cart-button {
    display: flex;
    bottom: 0;
    gap: 10px;
}

.checkout {
    display: flex;
    margin-top: 70px;
    padding: 20px;
    
    color: white;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(247, 168, 59);
    border: 2px solid rgb(255, 226, 80);
    border-radius: 2px; 

    transition: opacity 0.2s ease, background-color 0.2s ease;
}

.checkout:hover {
    background-color: rgb(244, 124, 81);
}

.checkout:active {
    background-color: rgb(249, 93, 37);
    transform: scale(99%);
}
.cont-buy {
    display: block;
    margin: 70px auto 0 auto;
    padding: 20px;
    
    color: white;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(58, 58, 58);
    border: 2px solid grey;
    border-radius: 2px; 
    
    transition: opacity 0.2s ease;
}

.cont-buy:hover {
    opacity: 0.8;
}
.cont-buy:active {
    opacity: 1;
    transform: scale(99%);
}
